.ParsonsUI {
  display: flex;
  flex-direction: column;
  font-size: 12px;
  color: #949AB1;
  font-family: open-sans, arial, sans-serif;

  label {
    padding-bottom: 8px;
    text-transform: uppercase;
    white-space: nowrap;
  }

  .CodeMirror {
    height: 80px;
    resize: vertical;
    border: 1px solid #EAECF2;
  }
  .CodeMirror-empty.CodeMirror-focused {
    outline: none;
  }
  .CodeMirror pre.CodeMirror-placeholder {
    color: #999;
  }

  textarea,
  input[type='text'],
  input[type='number'],
  select {
    color: #414852;
    border: 1px solid #c7d3e5;
    padding: 7px 10px;
    font-size: 12px;
  }

  .fieldset {
    display: flex;
    flex-direction: column;
  }

  .contain-html-container {
    flex-direction: row;
    align-items: center;
    margin-top: 10px;
  }

  .code-contain-html-label {
    padding: 0 0 0 5px;
  }

  .code-blocks-hint {
    text-align: left;
    padding: 13px 10px;
    margin-top: 10px;
    background-color: #FAFAFA;
    color: #414852;
    border: 1px solid #c7d3e5;
  }

  .distractor-blocks-container {
    display: flex;
    padding-top: 35px;
  }

  .distractor-blocks-ta-container {
    width: 60%;
    min-width: 60%;
    padding-right: 80px;
  }

  .distractor-blocks-max-container {
    width: 250px;
  }

  .common-settings-container {
    display: flex;
    padding-top: 35px;
  }

  .grader-container {
    flex: 1 0 auto;
  }
  .common-settings-container .fieldset {
    padding-right: 20px;
  }
  .common-settings-container .fieldset:last-child {
    padding-right: 0;
  }

  .dragging-container,
  .indenting-container {
    align-items: center;
  }

  .indent-size-container,
  .exec-limit-container {
    width: 100px;
  }

  .grader-form-container {
    padding-top: 20px;
  }

  &.LineBasedGrader .exec-limit-container {
    display: none;
  }

  .btn {
    padding: 10px;
    background-color: #8c97b2;
    color: #FFF;
    border-radius: 2px;
    font-size: 11px;
    cursor: pointer;
    transition: background-color 0.4s;
    display: inline-block;
  }
  .btn:hover {
    background-color: #6d7b9e;
    transition: background-color 0.4s;
  }
  .btn--primary {
    background-color: #15a4fa;
  }
  .btn--primary:hover {
    background-color: #069efa;
  }

  .unit-test-grader-container .add-test-container {
    padding-top: 20px;
  }

  .grader-hint {
    float: right;
    line-height: 32px;
  }

  .tests-container .CodeMirror {
    height: 60px;
  }
  .variable-check-grader-container,
  .unit-test-grader-container {
    .tests-container {
      padding-top: 20px;
    }

    .tests-list {
      list-style: none;
      margin: 0;
      padding: 0 0 10px 0;
    }

    .test-container {
      display: flex;
      margin-bottom: 20px;
      padding: 10px;
      border: 1px solid #c7d3e5;
      background-color: #FAFAFA;
    }

    .action-container {
      padding-top: 40px;
      flex: 0 0 80px;
    }

    .action {
      text-align: center;
      float: left;
      margin-bottom: 10px;
      width: 40px;
    }

    .test-info-container {
      display: flex;
      flex: 1 0 auto;
      border: 1px solid #c7d3e5;
      padding: 10px;
      background-color: #FFF;
      width: 0;
    }

    .column {
      width: 50%;
    }

    .column .fieldset {
      width: 95%;
      margin-bottom: 10px;
    }
  }

  .executable-code-container {
    padding: 10px 0 20px;
  }

  .turtle-grader-container {
    .executable-options-container {
      display: flex;
    }

    .generate-btn-container {
      width: 20%;
      padding-right: 30px;
    }

    .generate-btn-hint {
      text-align: justify;
      padding: 20px 0;
    }

    .code-programming-language-container {
      width: 80%;
    }
  }
}